@page
@model AC1_M9UF1.Pages.FormModel
@{
    
    if (Request.Method == "POST")
    {

        if (string.IsNullOrEmpty(Request.Form["CompanyName"]))
        {
            ModelState.AddModelError("CompanyName", "Company Name is required.");
        }

        if (string.IsNullOrEmpty(Request.Form["ContactName"]))
        {
            ModelState.AddModelError("ContactName", "Contact Name is required.");
        }

        if (string.IsNullOrEmpty(Request.Form["Employees"]))
        {
            ModelState.AddModelError("Employees", "Employee Count is required.");
        }

        if (!int.TryParse(Request.Form["Employees"], out int value))
        {
            ModelState.AddModelError("Employees", "Employee Count must be a number.");
        }
        else
        {
            if (value <= 0)
            {
                ModelState.AddModelError("Employees", "Employee Count must be a natural number.");
            }
        }

        if (ModelState.IsValid)
		{
            var companyname = Request.Form["CompanyName"];
            var contactname = Request.Form["ContactName"];
            var employeecount = Request.Form["Employees"];

			<text>
				You entered: <br />
				Company Name: @companyname <br />
				Contact Name: @contactname <br />
				Employee Count: @employeecount <br />
			</text>
		}
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Customer Form</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Add Customer</legend>
            <div>
                <label for="CompanyName">Company Name:</label>
                <input type="text" name="CompanyName"
                       value="@Request.Form["CompanyName"]" />
                @Html.ValidationMessage("companyname")
            </div>
            <div>
                <label for="ContactName">Contact Name:</label>
                <input type="text" name="ContactName"
                       value="@Request.Form["ContactName"]" />
                @Html.ValidationMessage("contactname")
            </div>
            <div>
                <label for="Employees">Employee Count:</label>
                <input type="text" name="Employees"
                       value="@Request.Form["Employees"]" />
                @Html.ValidationMessage("employees")
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>
</body>
